a img {
  opacity:            1;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
        -o-transition:  all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

  a:hover img { opacity: 0.9; }