a img {
  opacity:            1;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
        -o-transition:  all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

a:hover img { opacity: 0.9; }

figure {
  position: relative;
}
.wp-caption .wp-caption-text {
  position: relative;
  bottom: 0;
  background: none;
  color: lighten(#656565, 15%);
  border: 1px dashed #E3E3E3;
  padding: 0.5rem;
  width: 97%;
  @media only screen and ( max-width: 450px ) {
    width: 93%;
  }
}

.embed-wrap {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 1px solid yellow;
}