/************************************************/
/*** Colors : Core : Start **********************/
/************************************************/

body { color: #4c4b4b; background: #fff none;  }
a:link, a:visited { color: #8fb4fe; }
a:hover { color: #8fb4fe; }

div#container { 
	background: transparent none;

}

/************************************************/
/*** Colors : Core : End ************************/
/************************************************/


/************************************************/
/*** Colors : Header : Start ********************/
/************************************************/

div#nav-container {  color: #999; background: transparent url('images/nav-bg.png') top left repeat-x;  }
div#navmenu {  color: #999; background: transparent none;  }
div#navmenu-wrapper { background: none; }


div#socialbookmark ul li a.bookmark {background: transparent none;}
div#socialbookmark ul li img {background: transparent none;}


div#category { background:none; border:none;   }
div#category-wrapper {  background: transparent none; }

div#title { background: transparent url('images/title-bg.png') left repeat-x; }
div#title-wrapper { background: transparent url('images/title-wrap-bg.png') center bottom repeat-x;}
div#sitename h1 { background: transparent url('images/sitename.png') top no-repeat; }
div#sitename p { color:#ccc;}

div#featured { background: transparent url('images/featured-bg.png') top left repeat-x;  }
div#featured-wrapper  { background: transparent url('images/feat-wrap-bg.png') center bottom no-repeat;}

div#gasearch { background: #4f4f4f none;border-top:#fff solid 1px; }
div#gasearch-wrapper { border-color: #fff; background: #d1d1d1 none; border-top:none; }

div#search input { color: #4d5f83; background: transparent url('images/input-search.png') left top no-repeat; }
div#search input.button { background: transparent url('images/search-btn.png') left top no-repeat; }

div#feed-button {background: transparent url('images/rss-button.png') left top no-repeat;}
div#twit-button{background: transparent url('images/twit-button.png') left top no-repeat;}

/************************************************/
/*** Colors : Header : End **********************/
/************************************************/


/************************************************/
/*** Colors : Body : Start **********************/
/************************************************/

div#wrapper { background: #fff url('images/wrapper-bg.png') left top repeat-x; }
div#wrapper-wrapper { background: transparent none; border:none; border-top:none;border-bottom:none; }

div#content { background: transparent none; }

div#sidebar { border:none;  background: transparent url('images/sidebar-bg.png') left top no-repeat; }
div#sidebar-bottom { 
	border:none;  background: transparent none;
}
/************************************************/
/*** Colors : Body : End ************************/
/************************************************/


/************************************************/
/*** Colors : Blog Entry : Start ****************/
/************************************************/

div.pagetitle { border-color: #ebebeb; background: transparent none; }
div.pagetitle h2 { background: #fff none; color: #8fb4fe;  }

div.post { background: #fff none; border:none;    }
div.post img.header { background: #fff; border-color: #ccc; }
div.post div.title { background: none; border:none;}
div.post div.title h2 { color: #8fb4fe; }
div.post div.title h2 a, div.indexpost .title h2 a:visited { color: #8fb4fe; }
div.post div.title p { }
div.post div.twtbutton {background:#fff; border:none;}
div.post div.avatar { border:solid 1px #ccc;}
div.post div.entry {background: transparent none;      }

div.post-bot { background: transparent none; border-bottom: solid 2px #e1e1e1;}

div.post div.title div.postmeta-single { background: transparent url('images/postmeta-singlebg.png') left top no-repeat; }
div.post div.title div.postmeta { color:#999;}
div.post div.title div.postmeta a { color:#000;}
/************************************************/
/*** Colors : Blog Entry : End ******************/
/************************************************/


/************************************************/
/*** Colors : Comments : Start ******************/
/************************************************/

div#comments { border: none; background: #fff none; }
div#respond { border: none; background: #fff none; }

div#comments div.title h2 { color: #000; }
div#respond div.title h2 { color: #000; }

ol.commentlist li.comment div.comment { border-bottom-color: #f2f2f2; }
ol.commentlist li.comment img.avatar { border-color: #dfdfdf; }

form#commentform p.input span input { color: #666; background: transparent none; border:1px solid #dfdfdf; }
textarea#comment { color: #666; background: transparent none; border:1px solid #dfdfdf; }
form#commentform label.error{
color:#fff;
background: #757B83;

} 
 
/************************************************/
/*** Colors : Comments : End ********************/
/************************************************/


/************************************************/
/*** Colors : Sidebar : Start *******************/
/************************************************/

div.search-social{ background: transparent url('images/sr-sb-bg.png') left no-repeat;}

div.box {  background: #fff none;   }

div.box h2, div.box h2 a{ 
	background: transparent url('images/box-title.png') left no-repeat; color:#fff; 
}
div.box div.bottom { 
	background: transparent url('images/box-bot.png') left no-repeat; 
}

div.box div.interior { background: #f3f3f3 none; border:#d4d4d4 1px solid; border-top:none; border-bottom:none; }
div.box div.interior p { background: none;border:none; }
div.box div.interior ul li{ color: #666; background:#eee url('images/li-item-bg.png') left bottom repeat-x; border-bottom:none;   }

div.box div.interior ul li a{ color: #8fb4fe; }

div.box-flickr div.interior img { border-color: #d5d5d5; }

table#wp-calendar { color: #999; }



/************************************************/
/*** Colors : Sidebar : End *********************/
/************************************************/




/************************************************/
/*** Colors : Footer : Start ********************/
/************************************************/

div#footer { color: #5F5F5F; background: transparent url('images/footer-bg.png') left bottom repeat-x;  }
div#footer-wrapper { color: #5F5F5F; background:transparent ; }
div#footer a, div#footer a:visited { color: #5F5F5F; }

div#footer-wrapper div.connect ul  { display: block; list-style-type: none; margin: 0; padding: 0; }
div#footer-wrapper div.connect ul li.rss { background: transparent url('images/rss-bot.png') left bottom no-repeat; }
div#footer-wrapper div.connect ul li.twit { background: transparent url('images/twit-bot.png') left bottom no-repeat; }

/************************************************/
/*** Colors : Footer : End **********************/
/************************************************/