#black a.img img { border-color: #606060; }
#black a.img:hover img { border-color: #000 !important; }
#black img.img { border-color: #b9b9b9; }

#black input,
#black textarea,
#black select { color: #8f8f8f; }

#black #header { background: #222222 url(../images/black/header-short-bg.gif) repeat-x 0 0; }
#black #header .header-image { background-image: url(../images/black/top-light-short.jpg); }
#black .header-long { background-image: url(../images/black/header-bg.gif) !important; }
#black .header-long .header-image { background-image: url(../images/black/top-light-long.jpg) !important; }

#black #navigation ul li a,
#black #navigation ul li a span { color: #949494; }

#black #navigation ul li a:hover,
#black #navigation ul li a.active,
#black #navigation ul li a:hover span,
#black #navigation ul li a.active span { background-image: url(../images/black/button.gif); }

#black #header .line { background-image: url(../images/black/header-line.gif); }

#black .slider-nav  { background-image: url(../images/black/slider-nav-bg.gif); border-color: #727272; }
#black .slider-nav li a { background-image: url(../images/black/slider-nav-links.gif); }

#black .button, 
#black .button span { background-image: url(../images/black/button2.gif); }

#black #bottom { background: url(../images/black/bottom-bg.gif) repeat-x 0 0; }
#black #bottom .shell { background-image: url(../images/black/bottom-light.gif); }

#black #bottom h3,
#black #bottom ul li,
#black #bottom .testimonial { background-image: url(../images/black/bottom-border.gif); }

#black .newsletter .field { background: url(../images/black/field.gif); }
#black .quick-contact .field { background: url(../images/black/small-field.gif); }
#black #bottom .submit { background: url(../images/black/button3.gif); }
#black #bottom textarea { background: url(../images/black/textarea.gif); }

#black .gallery-details .menu ul li a.active span { background-image: url(../images/black/active-menu.png); }
#black #respond .submit { background-image: url(../images/black/button5.gif); }

#black .wp-pagenavi a.page:hover ,
#black .wp-pagenavi span.current,
#black .pagination p a:hover,
#black .pagination p a.active { background-image: url(../images/black/paging-bg.gif); }

#black .gallery-details .menu ul li a.active span  { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/black/active-menu.png', sizingMethod='image'); }