#red a.img img { border-color: #8b3737; }
#red a.img:hover img { border-color: #ad381f !important; }
#red img.img { border-color: #b9b9b9; }

#red input,
#red textarea,
#red select { color: #8b5858; }

#red #header { background: #3d140b url(../images/red/header-short-bg.gif) repeat-x 0 0; }
#red #header .header-image { background-image: url(../images/red/top-light-short.jpg); }
#red .header-long { background-image: url(../images/red/header-bg.gif) !important; }
#red .header-long .header-image { background-image: url(../images/red/top-light-long.jpg) !important; }

#red #navigation ul li a,
#red #navigation ul li a span { color: #f1ae9f; }

#red #navigation ul li a:hover,
#red #navigation ul li a.active,
#red #navigation ul li a:hover span,
#red #navigation ul li a.active span { background-image: url(../images/red/button.gif); }

#red #header .line { background-image: url(../images/red/header-line.gif); }

#red .slider-nav  { background-image: url(../images/red/slider-nav-bg.gif); border-color: #e04949; }
#red .slider-nav li a { background-image: url(../images/red/slider-nav-links.gif); }

#red .button, 
#red .button span { background-image: url(../images/red/button2.gif); }

#red #bottom { background: url(../images/red/bottom-bg.gif); }
#red #bottom .shell { background-image: url(../images/red/bottom-light.jpg); }

#red #bottom h3,
#red #bottom ul li,
#red #bottom .testimonial { background-image: url(../images/red/bottom-border.gif); }

#red .newsletter .field { background: url(../images/red/field.gif); }
#red .quick-contact .field { background: url(../images/red/small-field.gif); }
#red #bottom .submit { background: url(../images/red/button3.gif); }
#red #bottom textarea { background: url(../images/red/textarea.gif); }

#red .gallery-details .menu ul li a.active span { background-image: url(../images/red/active-menu.png); }
#red #respond .submit { background-image: url(../images/red/button5.gif); }

#red .wp-pagenavi a.page:hover ,
#red .wp-pagenavi span.current,
#red .pagination p a:hover,
#red .pagination p a.active { background-image: url(../images/red/paging-bg.gif); }