@import 'grid.less';
@gutter-width: 0;
@total-width: 100%;


.home #wrapper {
  .column(12);
}
.home header#branding {
  .column(12);
}
.home #main {
  .column(8);
  margin-left: 16%;
  
  #content {
    .row(8);
    
    .column1 {
      .column(2,8);
    }
    
    .column2 {
      .column(6,8);
      
      .slides {
        .row(6);
        
        li {
          .column(6,6);
          .row(6);
          
          .slide_column{
            .column(2,6);
          }
          .desc {
            .column(4,6);
          }
          
        }
      }
    }
  }
}

.home #access ul {
  .column(10);
  padding-left: @column-width * 4px;
}
.home .listContainer1 {
  
}
.home #colophon {
  .column(12);
}
.home #main {
  margin-top: -40px;
}
/*article {
   .column(9);

   ul { example of nested column set up
      .row(9); make a row with the same width as the parent

      li {
         .column(4,9);
      }
   }
}
aside {
   .column(3);
}*/