body {
  width: 100%;
  float: left;
}
.home #wrapper {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%;
  margin: 0 0%;
}
.home header#branding {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%;
  margin: 0 0%;
}
.home #main {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66.66666666666666%;
  margin: 0 0%;
  margin-left: 16%;
}
.home #main #content {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin: 0 0%;
}
.home #main #content .column1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 25%;
  margin: 0 0%;
}
.home #main #content .column2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 75%;
  margin: 0 0%;
}
.home #access ul {
  display: inline;
  float: left;
  overflow: hidden;
  width: 83.33333333333334%;
  margin: 0 0%;
  padding-left: 240px;
}
.home #colophon {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%;
  margin: 0 0%;
}
.home #main {
  margin-top: -40px;
}
/*article {
   .column(9);

   ul { example of nested column set up
      .row(9); make a row with the same width as the parent

      li {
         .column(4,9);
      }
   }
}
aside {
   .column(3);
}*/