/* line 2, stylesheets/scss/ie.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 4, stylesheets/scss/ie.scss */
.chromeframe {
  background: #f0eceb;
  color: #050000;
  font: 700 13px Sans-Serif;
  padding: 5px 15px;
  text-align: center;
}

/* line 12, stylesheets/scss/ie.scss */
#top_bar {
  background: #050000;
}

/* line 15, stylesheets/scss/ie.scss */
#content.single {
  padding-bottom: 45px;
}

/* line 19, stylesheets/scss/ie.scss */
#sub_header .widget-4, #sub_header .widget-7 {
  clear: left;
  margin-left: 0;
}

/* line 25, stylesheets/scss/ie.scss */
.post-group {
  position: relative;
}

/* line 30, stylesheets/scss/ie.scss */
.post-group.twoup .post-3, .post-group.twoup .post-5, .post-group.twoup .post-7, .post-group.twoup .post-9, .post-group.twoup .post-11, .post-group.twoup .post-13, .post-group.twoup .post-15, .post-group.twoup .post-17, .post-group.twoup .post-19 {
  clear: left !important;
  margin-left: 0 !important;
}

/* line 37, stylesheets/scss/ie.scss */
.post-group.threeup .post-4, .post-group.threeup .post-7, .post-group.threeup .post-10, .post-group.threeup .post-13, .post-group.threeup .post-16, .post-group.threeup .post-19, .post-group.threeup .post-22, .post-group.threeup .post-25, .post-group.threeup .post-28 {
  clear: left !important;
  margin-left: 0 !important;
}

/* line 44, stylesheets/scss/ie.scss */
.post-group.fourup .post-5, .post-group.fourup .post-9, .post-group.fourup .post-13, .post-group.fourup .post-17, .post-group.fourup .post-21, .post-group.fourup .post-25, .post-group.fourup .post-29, .post-group.fourup .post-33, .post-group.fourup .post-37 {
  clear: left !important;
  margin-left: 0 !important;
}

/* line 51, stylesheets/scss/ie.scss */
#page-footer .widget-3, #page-footer .widget-5, #page-footer .widget-7 {
  clear: left;
  margin-left: 0;
}

/* line 58, stylesheets/scss/ie.scss */
#post-footer .widget-4, #post-footer .widget-7, #post-footer .widget-10 {
  clear: left;
  margin-left: 0;
}

/* line 65, stylesheets/scss/ie.scss */
#comments-container #commentform label {
  display: block;
}
/* line 68, stylesheets/scss/ie.scss */
#comments-container #commentform #comment-form-info label {
  text-align: right;
}
/* line 70, stylesheets/scss/ie.scss */
#comments-container #commentform #comment-form-info input[type=text] {
  margin-bottom: 15px;
}
/* line 72, stylesheets/scss/ie.scss */
#comments-container #commentform textarea {
  height: 137px;
}

/* line 75, stylesheets/scss/ie.scss */
#comment-form-content dl {
  text-align: left;
}

/* line 78, stylesheets/scss/ie.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 86, stylesheets/scss/ie.scss */
.clearfix {
  display: inline-block;
}

/* line 89, stylesheets/scss/ie.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 92, stylesheets/scss/ie.scss */
* html .clearfix {
  height: 1%;
}
